.card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
    width: 60%;
}
