.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header {
  width: 90%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

